<div class="flex flex-col bg-[#111111] border border-zinc-800 br-2 py-4">
    <div class="w-full p-4">
        <button (click)="analyze()"
            class="flex  w-full items-center justify-center gap-2 rounded-lg bg-violet-700 py-2.5 font-mono text-sm font-medium uppercase tracking-wider text-white transition-colors duration-150 hover:bg-violet-600 active:scale-[0.98]">
            <i class="ti ti-wand" aria-hidden="true"></i>
            Analyse↗
        </button>
    </div>

    <app-evidence-bar />
    <app-observation-bar />
    <!-- Footer -->
    <div class="pt-6">
        <div class="border-t border-zinc-800 pt-4 pb-4 px-4">

            <p class="animate-pulse font-mono text-[10px] uppercase tracking-[0.3em] text-violet-600">
                Monitoring Paranormal Activity...
            </p>

        </div>
    </div>
</div>